<p-dialog header="" [(visible)]="displayMaximizable" (onHide)="onHide()" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="false">







    <!-- <p-panel header="ایجاد درخواست"> -->


    <!-- <h3 class="ui-rtl" dir="rtl">فیلدهایی که با <span style="color: red;"> * </span> مشخص شده اند اجباری میباشند</h3> -->
    <div class="p-grid ui-fluid ui-rtl" dir="rtl">



        <!-- <div class="p-col-12 p-md-12 mt-20">
                    <div class="ui-inputgroup">
                        <span class="ui-float-label">
                            <p-autoComplete [(ngModel)]="attachmentType" (onClear)=onclearAttachmentType($event)
                                [suggestions]="filteredAttachmentType" (onSelect)="onSelectAttachment($event)"
                                (completeMethod)="fillAttachmentType($event)" field="Title" [size]="30" [minLength]="0"
                                [delay]=500>
                                <ng-template let-attachmentType pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <div style="float:right;">
                                            {{attachmentType.Title}}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <label for="float-input"><span style="color: red;"> * </span>نوع درخواست</label>
                        </span>
                        <span [hidden]="!attachmentTypeHelp">
                            <i (click)="selectCar($event,attachmentType,op3)" class="pi pi-question-circle" style="font-size: 2.2em;cursor: pointer;"></i>
                        </span>

                        <p-overlayPanel #op3>
                            <ng-template pTemplate>
                                <p>{{selectedAttachmentType.Descr}}</p>
                            </ng-template>
                        </p-overlayPanel>

                    </div>
                </div> -->




        <!-- <div [hidden]="enable" class="p-col-12 p-md-12 mt-20">
                    <div class="ui-inputgroup">
                        <span class="ui-float-label">
                            <p-autoComplete field="xdfsdf" [(ngModel)]="personel" (onClear)=onclearPersonel($event)
                                [suggestions]="filteredPersonel" (onSelect)="onSelectPersonel($event)"
                                (completeMethod)="fillPersonel($event)" field="FullName" [size]="30" [minLength]="2"
                                [delay]=500>
                                <ng-template let-personel pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <img src="http://www.ikd.ir/IkdCoFiles/prsimg/{{personel.PrsnNo}}.jpg"
                                            style="display:inline-block;" />
                                        <div style="float:right; margin-top: 15px;">
                                            {{personel.FullName}}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <label for="float-input"><span style="color: red;"> * </span>پرسنل</label>
                        </span>
                    </div>
                </div> -->


        <div *ngIf="FamilyPersonel.length" class="p-col-12 p-md-12 mt-8">
            <!-- <p>
                        مشخص نمایید مدارک ارسالی مربوط به
                        <span style="color: rgb(52, 112, 224);"> {{currentUser.UserName}} </span>

                        یا کدامیک از
                        <span style="color: rgb(52, 112, 224);"> اعضای تحت تکفل </span>

                        شما میباشد.
                        مدارک ارسالی که متعلق به افراد تحت تکفل یا خود شخص نباشد ، ترتیب اثر داده نخواهد شد.
                    </p> -->
            <div *ngFor="let item of FamilyPersonel" class="p-col-12">
                <p-radioButton name="group{{item.FamilyPersonsId}}" value="{{item.FamilyPersonsId}}"
                    label="{{' '+item.FullName }}" [(ngModel)]="FamilyPersonsId" inputId="opt{{item.FamilyPersonsId}}">
                </p-radioButton>
            </div>
        </div>










        <div class="p-col-12 p-md-12 mt-10">
            <p-fileUpload #fileUpload chooseLabel="انتخاب تصویر" name="demo[]" (onSelect)="onFileSelected($event)"
                customUpload="true" multiple="true" (onRemove)="onRemoveFile($event)" accept=".jpg,.jpeg,.png,.pdf"
                [showUploadButton]="false" maxFileSize="{{filesize}}"
                invalidFileTypeMessageSummary=".نوع فایل ارسالی مجاز نمیباشد "
                invalidFileTypeMessageDetail="فایلهای مجاز: jpg | jpeg | png."
                invalidFileSizeMessageSummary="{0}: حجم فایل ارسالی بیش از حد مجاز میباشد. "
                invalidFileSizeMessageDetail="حداکثر حجم فایل {0} میباشد" [showCancelButton]="false">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <!-- <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li> -->
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>


        <!-- <span class="w-100" *ngIf="value<100 && value>0"> -->
        <span class="w-100" *ngIf="value<100 && value>0 && !uploadedFiles.length">
            {{value}}%
            <p-progressBar [value]="value" [style]="{'height': '2px'}"></p-progressBar>
        </span>








        <div class="p-col-12 p-md-12 mt-20">
            <div class="ui-inputgroup">

                <span class="ui-float-label">
                    <input [(ngModel)]="Descr" type="text" pInputText>
                    <label for="float-input">(اختیاری)توضیح</label>
                </span>
            </div>
        </div>





    </div>

    <div class="p-grid " dir="rtl">
        <div class="p-col-12 p-md-4">
            <div class="ui-inputgroup">
                <div class="mt-8">
                    <button (click)="create()" [disabled]="!uploadedFiles.length ||!FamilyPersonsId" pButton
                        type="button" label="ارسال" class="ui-button-success"></button>

                </div>
                <!-- <p-progressSpinner *ngIf="value<100 && value>0" [style]="{width: '25px', height: '25px'}" strokeWidth="2" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner> -->
                <p-progressSpinner *ngIf="value<100 && value>0 && !uploadedFiles.length"
                    [style]="{width: '25px', height: '25px'}" strokeWidth="2" fill="#EEEEEE" animationDuration=".5s">
                </p-progressSpinner>


            </div>
        </div>
    </div>






    <!-- </p-panel> -->









    <!-- <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayMaximizable=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayMaximizable=false" label="No" class="ui-button-secondary"></button>
    </p-footer> -->
</p-dialog>
























<p-dialog header="" [(visible)]="Show_NonApprovalReason" [modal]="true" [style]="{width: '50vw'}" [maximizable]="false"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">



    <div style="text-align: right; direction: rtl;">
        <p>
            {{NonApprovalReason}}
        </p>
    </div>



    <!-- <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayMaximizable=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayMaximizable=false" label="No" class="ui-button-secondary"></button>
    </p-footer> -->
</p-dialog>




















































<div *ngIf="attachmentType" class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong></strong>{{attachmentType.Descr}}
</div>

<!-- <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong></strong> با کلیک بر روی نوع درخواست ، تصویر بارگذاری شده را مشاهده نمایید. درصورت عدم مشاهده ، تصویر به درستی بارگذاری نشده است. درصورت عدم بارگذاری صحیح تصویر ، میتوانید درخواست را حذف و مجددا ایجاد نمایید
  </div> -->

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <span> JPG , JPEG , PNG</span>
    فرمت تصاویر ارسالی


</div>

<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong></strong>لطفا تصویر ارسالی خوانا و کم حجم باشد. درصورت
    عدم تایید
    با مراجعه به همین جا میتوانید علت را مشاهده نمایید
</div>




<p-table class="ui-rtl" dir="rtl" #dt [value]="parent" [(selection)]="selectedRows" dataKey="RequestId"
    styleClass="ui-table-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="نمایش {first} تا {last} از {totalRecords} رکورد"
    [globalFilterFields]="['PrsnNo','RequestTypeTitle','StatusDescr']">
    <ng-template pTemplate="caption">




        <!-- <button pButton (click)="AddNewParent()" type="button" icon="pi pi-plus" class="ui-button-success"></button>
<button pButton (click)="requery()" type="button" icon="pi pi-refresh" class="ui-button-success"></button> -->

        <div class="ui-g">
            <div class="ui-g-5 ui-md-5">
                <!-- <button *ngIf="CanAccess('Can-Insert-Parent-Project')" [routerLink]="['parent']"
            pTooltip="معرفی پروژه جدید" tooltipPosition="left" pButton type="button" icon="pi pi-plus"
            class="ui-button-success"></button> -->

                <p-button label="درخواست جدید" iconPos="left" pTooltip="ثبت درخواست جدید"
                    (click)="showMaximizableDialog()" tooltipPosition="top" type="button" icon="pi pi-plus"
                    class="ui-button-success rigth"></p-button>
            </div>
            <div class="ui-g-6 ui-md-6">

            </div>

            <div class="ui-g-1 ui-md-1">

                <p-button label="" iconPos="left" pTooltip="بازخوانی اطلاعات" (click)="read()" tooltipPosition="top"
                    type="button" icon="pi pi-refresh" class="ui-button-success"></p-button>



                <!-- <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>
        <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
     -->
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th></th> -->

            <!-- <th style="width: 50px;" pTooltip="مرتب سازی با شماره پرسنلی" tooltipPosition="top" pSortableColumn="PrsnNo">پرسنلی<p-sortIcon
            field="PrsnNo"></p-sortIcon>
    </th>
    <th style="width: 100px;" pTooltip="مرتب سازی با نام " tooltipPosition="top" pSortableColumn="FullName">نام و نام خانوادگی<p-sortIcon
        field="FullName"></p-sortIcon>
</th> -->
            <th style="width: 80px;" pTooltip="مرتب سازی با نوع درخواست" tooltipPosition="top"
                pSortableColumn="RequestTypeTitle">نوع درخواست<p-sortIcon field="RequestTypeTitle"></p-sortIcon>
            </th>
            <th style="width: 50px;" pTooltip="مرتب سازی با نسبت" tooltipPosition="top" pSortableColumn="RelateName">
                نسبت<p-sortIcon field="RelateName"></p-sortIcon>
            </th>

            <!-- <th style="width: 60px;" pTooltip="مرتب سازی با وضعیت تایید" tooltipPosition="top"
        pSortableColumn="IsConfirmDescr">وضعیت تایید<p-sortIcon field="IsConfirmDescr"></p-sortIcon>
    </th> -->

            <th style="width: 70px;" pTooltip="مرتب سازی با وضعیت درخواست" tooltipPosition="top"
                pSortableColumn="StatusDescr">وضعیت درخواست<p-sortIcon field="StatusDescr"></p-sortIcon>
            </th>

            <th style="width: 130px;" pTooltip="مرتب سازی با توضیحات" tooltipPosition="top" pSortableColumn="Descr">
                توضیحات<p-sortIcon field="Descr"></p-sortIcon>
            </th>

            <th style="width: 60px;" pTooltip="مرتب سازی با مشخصات" tooltipPosition="top"
                pSortableColumn="FamilyFullName">مشخصات<p-sortIcon field="FamilyFullName"></p-sortIcon>
            </th>

            <th style="width: 70px;" pTooltip="مرتب سازی با تاریخ ارسال" tooltipPosition="top"
                pSortableColumn="RequestDate">تاریخ ارسال<p-sortIcon field="RequestDate"></p-sortIcon>
            </th>


            <th style="width: 59px;">عملیات</th>
        </tr>
        <tr>
            <!-- <th>
        <p-tableHeaderCheckbox class="vis"></p-tableHeaderCheckbox>
    </th> -->

            <!-- <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'PrsnNo', 'contains')"
            placeholder="جستجو " class="ui-column-filter">
    </th>

    <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'FullName', 'contains')"
            placeholder="جستجو " class="ui-column-filter">
    </th> -->

            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'RequestTypeTitle', 'contains')"
                    placeholder="جستجو " class="ui-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'RelateName', 'contains')"
                    placeholder="جستجو " class="ui-column-filter">
            </th>


            <!-- <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'IsConfirmDescr', 'contains')"
            placeholder="جستجو " class="ui-column-filter">
    </th> -->

            <!-- <th>
       

            <p-dropdown  [options]="IsUsedstatuses" (onChange)="dt.filter($event.value, 'StartDate', 'equals')" styleClass="ui-column-filter" placeholder="انتخاب کنید" [showClear]="true">
                <ng-template let-option pTemplate="item">
                    <span  [class]="'customer-badge status-' + option.class">&#123;&#123;option.label&#125;&#125;</span>
                </ng-template>
            </p-dropdown>



    </th> -->

            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'StatusDescr', 'contains')"
                    placeholder="جستجو " class="ui-column-filter">
            </th>


            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Descr', 'contains')"
                    placeholder="جستجو " class="ui-column-filter">
            </th>

            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'FamilyFullName', 'contains')"
                    placeholder="جستجو" class="ui-column-filter">
            </th>


            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'RequestDate', 'contains')"
                    placeholder="جستجو" class="ui-column-filter">
            </th>


            <th></th>




        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>

        <tr>

            <!-- <td *ngIf="CanAccess('Can-Insert-Child-Project')">
        <button  pTooltip="معرفی فعالیت جدید برای  {{project.PrsnNo}}" tooltipPosition="left"
            type="button" pButton [routerLink]="['child']" icon="pi pi-plus"></button>

    </td> -->

            <!-- <td >
        <span class="ui-column-title">پرسنلی : </span>
       
       <strong pTooltip="مشاهده مدارک ارسالی" tooltipPosition="left"
       (click)="setCurrentRow(project);getAttachmentItems(project); Imagepanel.toggle($event)" style="cursor: pointer; color: blue;">{{project.PrsnNo}}</strong> 
    </td>

    <td >
        <span  class="ui-column-title">نام پرسنل : </span>
        <strong pTooltip="مشاهده مدارک ارسالی  {{project.FullName}}" tooltipPosition="left"
        >{{project.FullName}}</strong> 
        
    </td> -->
            <td>
                <span class="ui-column-title">نوع درخواست : </span>


                <strong pTooltip="مشاهده مدارک ارسالی" tooltipPosition="left"
                    (click)="setCurrentRow(project);getAttachmentItems(project); Imagepanel.toggle($event)"
                    style="cursor: pointer; color: blue;">{{project.RequestTypeTitle}}</strong>

                <!-- <span (click)="setCurrentRow(project);getAttachmentItems(project); Imagepanel.toggle($event)" style="vertical-align: middle; margin-left: .5em">
            {{project.AttachmentTypeTitle}}
        </span> -->
            </td>

            <td>
                <span class="ui-column-title">نسبت : </span>
                {{project.RelateName}}
            </td>

            <!-- <td > -->
            <!--<img *ngIf="project.Executor" [alt]="project.Title"
            src="http://www.ikd.ir/IkdCoFiles/Images/{{project.Executor}}.jpg" width="25"
            style="vertical-align: middle" /> -->
            <!-- <span class="ui-column-title">وضعیت تایید : </span>

        <span style="vertical-align: middle; margin-left: .5em; ">
            {{project.IsConfirmDescr}}</span>
    </td> -->
            <!-- <td>
        <span class="ui-column-title">وضعیت استفاده : </span>

        <span [className]="project.IsUsed?'customer-badge status-qualified' :'customer-badge status-unqualified'"  style="vertical-align: middle; margin-left: .5em">{{project.IsUsedDescr}}</span>
    </td> -->


            <td>
                <span class="ui-column-title">وضعیت درخواست : </span>
                <span pTooltip="{{project.NonApprovalReason}}" tooltipPosition="top"
                    [class]="'customer-badge status-' + project.StatusId"
                    style="vertical-align: middle; margin-left: .5em">{{project.StatusDescr}}



                </span>
                <button *ngIf="project.NonApprovalReason" pTooltip="مشاهده علت عدم تایید" tooltipPosition="left"
                    type="button" pButton class="ui-button-primary" icon="fa fa-eye"
                    (click)="ShowNonApprovalReason(project)"></button>
            </td>

            <td (click)="setCurrentRow(project);">
                <span class="ui-column-title">توضیحات : </span>

                <span class="truncate" style="vertical-align: middle; margin-left: .5em">{{project.Descr}}</span>



            </td>

            <td>
                <span class="ui-column-title">مشخصات : </span>

                <span style="vertical-align: middle; margin-left: .5em">{{project.FamilyFullName}}</span>
            </td>





            <td>
                <span class="ui-column-title">تاریخ ارسال : </span>

                <span *ngIf="project" style="vertical-align: middle; margin-left: .5em">{{project.RequestDate}}</span>
            </td>
            <td>
                <button *ngIf="(project.StatusId==1)" pTooltip="حذف درخواست" tooltipPosition="left" type="button"
                    pButton class="ui-button-danger" icon="fa fa-trash" (click)="showConfirm(project,3)"></button>

            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" style="text-align:right">اطلاعاتی یافت نشد</td>
        </tr>
    </ng-template>
</p-table>








<p-overlayPanel class="ui-rtl" dir="rtl" #Imagepanel [showCloseIcon]="true">
    <div *ngFor="let item of attachmentItems" style="display: inline;">
        <a href="{{attachmentPath}}{{item.DocName}}" target="_blank">
            <img [alt]="CurrentRow.PrsnNo" src="{{attachmentPath}}{{item.DocName}}"
                style="vertical-align: middle ;width: 50px; height: 50px; margin: 2px; border: #333 1px solid;" />
        </a>
    </div>
</p-overlayPanel>









<p-toast class="ui-rtl" dir="rtl" position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>



        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="بله" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="انصراف" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>















































































<div *ngIf="CanAccess('Request_delete')" style="width: 100%;">












    <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>انتخاب تصویر</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let upload of uploads"
            (removed)="onRemove(upload)" [file]="upload.data.raw" [removable]="true">
            <ngx-dropzone-label>
                Name: {{ upload.data.name }}<br />
                State: {{upload.data.state}}<br />
                <span style="color: red;">{{upload.data.progress}}%</span>
                <p-progressBar [value]="upload.data.progress" [style]="{'height': '2px'}"></p-progressBar>
            </ngx-dropzone-label>

        </ngx-dropzone-image-preview>
    </ngx-dropzone>


    <input type="file" (change)="onSelect1($event)" multiple>

    <table *ngIf="uploads.length" style="width: 100%;" class="ui-rtl" dir="rtl">
        <thead>
            <tr>
                <th style="text-align: center;">نام</th>
                <th style="text-align: center;">وضعیت</th>
                <th style="text-align: center;">میزان بارگذاری</th>
                <th style="text-align: center;"></th>

            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" *ngFor="let upload of uploads">
                <td style="text-align: center !important;"><strong>{{ upload.data.name }}</strong></td>
                <td style="text-align: center !important;">{{upload.data.state}}</td>
                <td style="text-align: center !important;">
                    {{upload.data.progress}}%
                    <!-- <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': upload.data.progress + '%' }"></div>
            </div> -->
                    <p-progressBar [value]="upload.data.progress" [style]="{'height': '2px'}"></p-progressBar>
                </td>
                <td style="width: 100px;">

                    <div class="actions btn-group">
                        <button (click)="startUpload(upload)" class="btn upload btn-sm"
                            [disabled]="upload.data.state !== uploadStates.IDLE">
                            <i class="fa fa-upload"></i>
                        </button>

                        <button (click)="cancelUpload(upload)" [disabled]="!(upload.data.state )"
                            class="btn cancel btn-sm">
                            <i class="fa fa-stop"></i>
                        </button>

                        <button (click)="removeUpload(upload)" class="btn btn-sm delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>


                </td>


                <div class="card-footer" *ngIf="upload.isCompleted() || upload.isInvalid()">

                    <!-- response completed show error / success -->
                    <ng-container *ngIf="upload.data.state === uploadStates.COMPLETED"
                        [ngTemplateOutlet]="upload.data.hasError ? errorTemplate : successTemplate"
                        [ngTemplateOutletContext]="{data: upload.data.hasError ? upload.data.response.errors : upload.data.name}" >
                    </ng-container>
            
                    <ng-container *ngIf="upload.data.validationErrors"
                        [ngTemplateOutlet]="invalidTemplate"
                        [ngTemplateOutletContext]="{data: upload.data.validationErrors}" >
                    </ng-container>
                </div>



            </tr>
        </tbody>
    </table>



   






    <!-- upload error template -->
    <ng-template #errorTemplate let-errors="data">
        <ul class="errors">
            <li *ngFor="let error of errors" class="error">{{error}}</li>
        </ul>
    </ng-template>

    <!-- upload success template -->
    <ng-template #successTemplate let-name="data">
        <span class="success">
            {{name}} successful uploaded

            <button [disabled]="!name" pButton type="button" label="ارسال" class="ui-button-success"></button>
        </span>
    </ng-template>

    <!-- upload validation error template -->
    <ng-template #invalidTemplate let-validationErrors="data">
        <ul class="errors">
            <li class="error" *ngFor="let error of validationErrors | keyvalue">
                {{error.value}}
            </li>
        </ul>
    </ng-template>



    <section class="demo mb-3">



        <div class="mt-3 ">


            <!-- fileuploads goes here -->
            <div class="card-list">
                <ng-container *ngFor="let upload of uploads" [ngTemplateOutlet]="itemTemplate"
                    [ngTemplateOutletContext]="{upload: upload}">
                </ng-container>
            </div>
        </div>




    </section>





</div>