<div  class="user-regisration">
  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
      <form [formGroup]="userform" >
        <p-panel header="تغییر گذرواژه">
          <div class="p-grid p-justify-center p-align-center">
            <!-- <div class="p-xl-6 p-lg-6 p-md-8 p-sm-10">
              <img src="./assets/pedar.jpg" class="login-logo" style="width: 80px; height: 100px;">
            </div> -->

            <div class="ui-g ui-rtl" dir="rtl" >
              <div class="ui-g-3"></div>
              <div class="ui-g-6 "><img src="./assets/logo.svg" style="width: 85%; height: 85%;" ></div>
              <div class="ui-g-3"></div>
            </div>

            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input id="float-input-username" type="password" size="30" pInputText formControlName="Oldpassword"
                  placeholder="گذرواژه" required>
              </div>
            </div>
            <div class="ul-rtl" dir="rtl" class="p-col-12" *ngIf="userform.controls['Oldpassword'].errors && userform.controls['Oldpassword'].dirty">
              <p-message severity="error" text="گذرواژه فعلی وارد نشده است"
                *ngIf="userform.controls['Oldpassword'].errors['required']"></p-message>
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key" style="color: rgb(6, 127, 241);"></i></span>
                <input id="float-input-password" type="password" size="30" pInputText formControlName="NewPassword"
                  placeholder="گذرواژه جدید" required>
              </div>
            </div>
            <div class="ul-rtl" dir="rtl" class="p-col-12" *ngIf="userform.controls['NewPassword'].errors && userform.controls['NewPassword'].dirty">
              <p-message severity="error" text="گذرواژه جدید وارد نشده است"
                *ngIf="userform.controls['NewPassword'].errors['required']"></p-message>
              <p-message severity="error" text="حداقل رمز عبور 6 کاراکتر میباشد"
                *ngIf="userform.controls['NewPassword'].errors['minlength'] "></p-message>
            </div>




            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key" style="color: rgb(6, 127, 241);"></i></span>
                <input id="float-input-password" type="password" size="30" pInputText formControlName="NerifyNewPassword"
                  placeholder="تکرار گذرواژه جدید" required>
              </div>
            </div>
            <div class="ul-rtl" dir="rtl" class="p-col-12" *ngIf="userform.controls['NerifyNewPassword'].errors && userform.controls['NerifyNewPassword'].dirty ">

             
              <p-message severity="error" text="گذرواژه های جدید وارد شده مطابقت ندارند"
              *ngIf="userform.controls['NerifyNewPassword'].errors.mustMatch"></p-message>
              <p-message severity="error" text="تکرار گذرواژه جدید وارد نشده است"
                *ngIf="userform.controls['NerifyNewPassword'].errors['required']"></p-message>
              <p-message severity="error" text="حداقل رمز عبور 6 کاراکتر میباشد"
                *ngIf="userform.controls['NerifyNewPassword'].errors['minlength'] "></p-message>
            </div>






            <!-- <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key" style="color: rgb(6, 127, 241);"></i></span>
                <input id="float-input-emailid" type="password" size="30" pInputText formControlName="NerifyNewPassword"
                  placeholder="تکرا گذر واژه جدید" required>
              </div>
            </div>
            <div class="p-col-12" *ngIf="userform.controls['NerifyNewPassword'].errors && userform.controls['NerifyNewPassword'].dirty">
              <p-message severity="error" text="Email is required"
                *ngIf="userform.controls['NerifyNewPassword'].errors['required']"></p-message>
              <p-message severity="error" text="Email is invalid" *ngIf="userform.controls['NerifyNewPassword'].errors['email']">
              </p-message>
            </div> -->
            <!-- <div class="p-col-12">
              <p-calendar formControlName="birthDate" placeholder="Birth date" [showIcon]=true></p-calendar>
            </div> -->
            <!-- <div class="p-col-12" *ngIf="userform.controls['birthDate'].errors && userform.controls['birthDate'].dirty">
              <p-message severity="error" text="Birthdate is required"
                *ngIf="userform.controls['birthDate'].errors['required']"></p-message>
              <p-message severity="error" text="Minimum age should be 10 years."
                *ngIf="userform.controls['birthDate'].errors['invalidBirthDate']"></p-message>
            </div> -->
          </div>
          <div class="p-grid">
           
            <div class="p-col-6">
              <button pButton type="button" label="خــــــانه" class="ui-button-raised"
                (click)="onClickGoToLogin()"></button>
            </div>
            <div class="p-col-6">
              <button (click)="onClickChangePassword()" pButton type="button" label="ذخیره" class="ui-button-raised" [disabled]="!userform.valid"
               ></button>
            </div>
          </div>
        </p-panel>
        <div class="extra-page-footer">
          <div><span class="color-red"> ❤ </span>خدمات غیر حضوری امور پدر</div>
          <div>نسخه : {{version}}</div>
        </div>
      </form>
    </div>
  </div>
</div>