<div  class="user-regisration">
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
      <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
        <form [formGroup]="userform" >
          <p-panel header="بازیابی گذرواژه">
            <div class="p-grid p-justify-center p-align-center">
              <!-- <div class="p-xl-6 p-lg-6 p-md-8 p-sm-10">
                <img src="./assets/pedar.jpg" class="login-logo" style="width: 80px; height: 100px;">
              </div> -->
  
              <div class="ui-g ui-rtl" dir="rtl" >
                <div class="ui-g-3"></div>
                <div class="ui-g-6 "><img src="./assets/logo.svg" style="width: 85%; height: 85%;" ></div>
                <div class="ui-g-3"></div>
              </div>
  

              <div class="p-col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-user" style="color: green;"></i></span>
                  <input  id="float-input-username" type="tel" size="30" pInputText formControlName="NatioalCode"
                    placeholder="کد ملی" required  autocomplete="off">
                </div>
              </div>
              <div class="ul-rtl" dir="rtl" class="p-col-12" *ngIf="userform.controls['NatioalCode'].errors && userform.controls['NatioalCode'].dirty">
                <p-message severity="error" text="کد ملی وارد نشده است"
                  *ngIf="userform.controls['NatioalCode'].errors['required']"></p-message>

                  <p-message severity="error" text="تعداد اعداد کد ملی بیشتر از حد مجاز میباشد"
                  *ngIf="userform.controls['NatioalCode'].errors['maxlength']"></p-message>

                  <p-message severity="error" text="تعداد اعداد کد ملی کمتر از حد مجاز میباشد"
                  *ngIf="userform.controls['NatioalCode'].errors['minlength']"></p-message>

                  <p-message severity="error" text="{{userform.controls['NatioalCode'].errors['invalidNumber'].message}}"
                  *ngIf="userform.controls['NatioalCode'].errors['invalidNumber']"></p-message>
              </div>
 

              <div class="p-col-12">
                <div class="ui-inputgroup">
    
              <p-captcha siteKey="6LfHYf4UAAAAANQnTflkoR2fuSo_efmd2H1WXiFb" (onResponse)="showResponse($event)"></p-captcha>
    
            </div>
          </div>
             




           
  
            </div>




            <p-footer>

            <div class="p-grid">
             
              <div class="p-col-6">
                <button pButton type="button" label="بازگشت" class="ui-button-raised"
                  (click)="onClickGoToLogin()"></button>
              </div>
              <div class="p-col-6">
                <button (click)="onClickChangePassword()" pButton type="button" label="ارسال گذرواژه" class="ui-button-raised" [disabled]="(!userform.valid || !isClickCapcha)"
                 ></button>
              </div>
            </div>

            </p-footer>




          </p-panel>
          <div class="extra-page-footer">
            <div><span class="color-red"> ❤ </span>خدمات غیر حضوری امور پدر</div>
            <div>نسخه : {{version}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>