

// label{
//    right: 17px;
// }

// input , button{
//     width: 100%;
// }

// span{
//     margin: 15px 15px  8px 15px;
// }

// li{
//     line-height: 40px;
//     list-style: none;
// }

// .content-section.introduction {
//     margin-top: 0 !important;
//     }

//     button{
//         padding: 8px;
//     }

//     .element-style {
//         left: 0;
//         position: absolute;

//         z-index: 10000;
// left: -35px;
// top:5px
//     }


//     .content-section{
//         padding-top: 40px;
//     }




    
label{
    right: 17px;
 }
 
 input , button{
     width: 100%;
     font-size: 14px !important;
 }
 
 span{
     margin: 15px 15px  8px 15px;
 }
 
 li{
     line-height: 40px;
     list-style: none;
 }

 .content-section.introduction {
    margin-top: 0 !important;
    }

    .wait {
        left: 0;
        position: absolute;

        z-index: 10000;
left: 50px;
    }




li{
    color: #333333;
}

i{
    color: chocolate;
}






